figcaption {
	text-align: center;
	font: normal 1em "Handwritten", Georgia, Palatino, serif;
}
figure {
	border-color: #556B2F;
	box-shadow: 0px 0px 30px hsl(61, 38%, 70%);
	background: #FFF;
}
table {
	padding: 0px;
}

table table {
	font-size: 1em;
	border-width: 0;
}
table th {
	vertical-align: middle;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px hsla(75, 50%, 20%, .75);
	border-width: 0;
}

figure img {
	border: solid 1px black;
    opacity: .9;
}


table td, table table td {
	border-width: 1px 0 0;
	padding: .5em;
}
/**/

table tbody {
	border: 0px;
	min-width: 100%;
}

.sell {
	font-family: Georgia, Palatino, serif;
}

figure:hover {
	color: #6e2900;
	border-color: black;
}

td:last-child {
	border-right-width: 0px solid black;
}
th:nth-child(odd) {
	border-right-color: rgba(255, 255, 255, .2);
}

td.nested {
	padding: 0;
	border-width: 0;
}
td.description {
	font-weight: bold;
	font-size: 1.1em;
	color: #900;
	text-transform: uppercase;
	border-width: 1px 0 0;
}
th.odd {
	border-right: solid 1px #FFF;
}


figure:hover img{
    opacity: 1;
    box-shadow: 0 0 3px black;
}

tr:nth-of-type(even) {
	background-color: rgba(255, 255, 255, .5);
}

th:first-child {
	border: solid 1px #FFF;
	border: solid 1px rgba(255, 255, 255, .5);
	border-width: 0 1px 0 0;
}
tr:last-child {
	font-size: 1em;
}

tr>th.odd {
	border-right: solid 0px #FFF;
}
tr td.odd {
	border-width: 1px 1px 0 0;
}
tr>td.odd {
	border-width: 1px 0 0 0;
}
tr>th.odd+th {
	border-left: solid 1px #FFF;
}
tr>td.odd+td {
	border-width: 1px 0 0 1px;
}
td:first-child+td {
	border-width: 1px 0 0 1px;
}
tr:last-child td {
	border-width: 1px 0 0;
}
ul.tab a {
	color: #7F9933;
	text-transform: uppercase;
}

tr:nth-child(7) td {
	font-weight: bold;
	font-size: 1.1em;
	text-transform: uppercase;
	color: #900;
}



ul.loop a {
	text-shadow: 1px 1px 1px hsla(75, 50%, 20%, .75);
	padding: 0.7em .5em 0.7em 2em;
	color: #FFF;
}

table table tr:last-child {
	font-size: 1em;
}

ul.tab li a {
	border-color: #7F9933;
	border-color: hsla(75, 50%, 40%, 1);
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	background: #EBF2D8;
	background: hsla(75, 50%, 90%, .5);
	-webkit-transition: background 1.5s;
	-o-transition: background 1.5s;
	transition: background 1.5s;
	text-shadow: 2px 2px 2px #FFF;
}
.nthchild ul.loop a::before {
	content: "";
	margin-left: 1px;
	border: 2em solid transparent;
	border-left-width: 1.2em;
	border-left-color: #FFF;
	border-right-width: 0;
}
.nthchild ul.loop a::after {
	content: " ";
	border-top: 2em solid transparent;
	/* Go big on the size, and let overflow hide */
	border-bottom: 2em solid transparent;
	border-left: 1.2em solid #7F9933;
	border-left: 1.2em solid hsla(75, 50%, 40%, 1);
}
ul.loop li:first-child a {
	padding-left: 0.7em;
}
.no-nthchild ul.loop a {
	border-right: solid 1px #FFF;
}
ul.loop a:hover {
	color: #EBF2D8;
	color: hsla(75, 50%, 90%, 1);
}
ul.tab li.current a {
	background: #EBF2D8;
	border-bottom-color: #EBF2D8;
}
ul.tab a:hover {
	color: hsla(75, 50%, 30%, 1);
}
.no-nthchild ul.loop a {
	padding: .7em 1.2em;
}
ul.loop li:nth-child(2) a {
	background: #9FBF3F;
	background: hsla(75, 50%, 50%, 1);
}
ul.loop li:nth-child(3) a {
	background: #B2CC65;
	background: hsla(75, 50%, 60%, 1);
}
ul.loop li:nth-child(2) a::after {
	border-left -color: #9FBF3F;
	border-left-color: hsla(75, 50%, 50%, 1);
}
ul.loop li:nth-child(3) a::after {
	border-left-color: #B2CC65;
	border-left-color: hsla(75, 50%, 60%, 1);
}
article.intro ul a:hover {
	text-decoration: none;
}
.nthchild ul.loop li:first-child a {
	padding-left: 1em;
}
ul.tab li.current a:hover {
	color: hsla(75, 50%, 40%, 1);
}

.no-nthchild table tr.odd td {
	background: #F2F1DE;
}

th, ul.loop a, .sell #tooltip div:first-child {
	color: #FFF;
	font-weight: bold;
	background: #7F9933;
	background: hsla(75, 50%, 40%, 1);
}

ul.tab a, figure, figure a, .sell #sell {
	border: solid 1px black;
}

.sell #sell {
	background: #EBF2D8;
}
#tooltip {
	position: absolute;
	z-index: 3;
	bottom: 0em;
	font-weight: normal;
	font-size: .7em;
	opacity: 0;
	-webkit-transform: translate(-10em, -10em);
	-ms-transform: translate(-10em, -10em);
	transform: translate(-10em, -10em);
	-webkit-transition-property: opacity, -webkit-transform;
	transition-property: opacity, -webkit-transform;
	-o-transition-property: transform, opacity;
	transition-property: transform, opacity;
	transition-property: transform, opacity, -webkit-transform;
	-webkit-transition-duration: 2s;
	-o-transition-duration: 2s;
	transition-duration: 2s;
}
#sell>a {
	background-color: #FFF;
	background-color: rgba(255, 255, 255, .9);
	box-shadow: 2px 2px 5px #FFF;
	opacity: 1;
}

#sell a {
    background-color: #FFF;
    border-color: #7F9933;
}

#sell>table {
	box-shadow: 0px 0px 20px rgba(255, 255, 255, .8);
	opacity: .9;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
#alpacas_for_sale h2 {
	color: #944;
	color: hsla(0, 100%, 30%, .3);
}

.no-hsla #alpacas_for_sale h2 {
   opacity: .3; 
}

/* the mere presence of direct child selector prevents ie 6 reading the rules have to move it to its own selector*/
#sell > a {
    border-color: #7F9933;
    border-color: hsla(75, 50%, 40%, 1);
}

.sell #sell, table, table td, body.sell #sell.extent {
	border-color: #7F9933;
}

#sell.extent a{
    border-color: #fff;
}


#tooltip.tip {
	-webkit-transform: translate(10em, -3em);
	-ms-transform: translate(10em, -3em);
	transform: translate(10em, -3em);
	opacity: .75;
}
#tooltip.tb1 {
	-webkit-transform: translate(2em, -5em);
	-ms-transform: translate(2em, -5em);
	transform: translate(2em, -5em);
	opacity: 1;
}
#tooltip.tb2 {
	-webkit-transform: translate(2em, 10em);
	-ms-transform: translate(2em, 10em);
	transform: translate(2em, 10em);
	z-index: 5;
}
.sell #tooltip {
	bottom: 10em;
	left: 0em;
	opacity: 1;
	-webkit-transform: translate(-11em, 0em);
	-ms-transform: translate(-11em, 0em);
	transform: translate(-11em, 0em);
}

#tooltip div:first-child {
	background: #FFF;
	padding: 3px;
}

.sell #tooltip.tip {
	-webkit-transform: translate(10em, 0em);
	-ms-transform: translate(10em, 0em);
	transform: translate(10em, 0em);
}
.sell #tooltip.tb1 {
	-webkit-transform: translate(0em, 10em);
	-ms-transform: translate(0em, 10em);
	transform: translate(0em, 10em);
}
.sell #tooltip.tb2 {
	-webkit-transform: translate(-50em, 10em);
	-ms-transform: translate(-50em, 10em);
	transform: translate(-50em, 10em);
}
.sell #tooltip div:first-child {
	text-shadow: 1px 1px 1px black;
}

#alpacas_for_sale.sell h2 {
	color: #900;
	color: hsla(0, 100%, 30%, 1);
    opacity: 1;
}

#sell > a:hover, #sell>table:hover {
	opacity: .9;
	-webkit-transform: scale(1.01);
	-ms-transform: scale(1.01);
	transform: scale(1.01);
}

#tooltip #triangle {
	width: 0;
	height: 0;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-top: 12px solid #FFF;
	margin: -1px 0px 0px 5em;
}
.sell #tooltip #triangle {
	border-top: 12px solid #7F9933;
}
#sell.extent+#tooltip {
	visibility: hidden;
}
/*"gallery"*/

#thumbnails, ul#thumbnails a {
	border: 1px solid;
}
#controls button {
	cursor: pointer;
	background-color: #556B2F;
	border: 1px solid #7F9933;
	border: 1px solid hsla(75, 50%, 40%, 1);
	border-radius: .2em;
	-webkit-box-shadow: 2px 2px 4px black;
	box-shadow: 2px 2px 4px black;
	text-shadow: 1px 1px 1px black;
	line-height: 1.6;
	opacity: 1;
	background-image: url(../assets/buttons_sprite_lowend8.png);
	background-repeat: no-repeat;
	background-position: 50% 0%;
}
#controls>button {
	background-image: url(../assets/buttons_sprite_lowend.png);
	background-color: hsla(50, 50%, 40%, .3);
}
ul#thumbnails {
	border-color: mediumblue;
}
#controls.static button {
	border: 1px solid #FFF;
	border: 1px solid rgba(255, 255, 255, .75);
}
#controls button:hover, #controls button:focus {
	background-color: silver;
	background-color: rgba(150, 150, 150, .5);
	color: black;
	text-shadow: 1px 1px 1px rgba(255, 255, 255, .75);
}
ul#thumbnails a:link, ul#thumbnails a:visited {
	border-color: black;
}
ul#thumbnails a:hover, ul#thumbnails a:active {
	border-color: #900;
}
button#backbutton {
	background-position: 50% 14.5%;
}
button#playbutton {
	background-position: 50% 29%;
}
.playing #playbutton {
	background-position: 50% 44%;
	opacity: 0.9;
}