body {
	font: .8em "Trebuchet MS", sans-serif;
	background-color: white;
}
p {
	line-height: 1.5;
	margin: 0 35% 0.7em 0;
}
table {
	border: solid 1px black;
}
th, td {
	padding: 0.3em;
	vertical-align: top;
	border: 1px solid;
}
th {
	color: white;
	font-weight: bold;
	background-color: black;
	vertical-align: middle
}
th em {
	font-style: normal;
	white-space: nowrap;
	padding-right: 1em
}
a, a:link, a:visited, h2 {
	color: #900;
	color: rgb(153, 0, 0);
}
a, a:link, a:visited {
	border-width: 0;
	text-decoration: none;
	font-weight: 700;
}
a:hover {
	text-decoration: underline;
}
a:active, a:focus {
	outline: none;
	-moz-outline-style: none;
}
/* to prevent bottom gaps. BUT overide if inline treatment of images is required. https://developer.mozilla.org/en/Images,_Tables,_and_Mysterious_Gaps */

img {
	width: 100%;
	/*	height: auto; */
}
img, nav a {
	display: block;
}
button {
	padding: 0 .4em;
	margin: 0 .3em;
}
h1 {
	font-size: 2em;
}
h2 {
	font: italic 2.8em "Handwritten", Georgia, cursive;
	text-indent: .1em;
	border-bottom: solid mediumblue 1px;
	letter-spacing: -.01em;
}
b {
	color: #ff6;
	color: rgb(255, 255, 102);
}